* {
    font-family: 'Microsoft YaHei';
    text-decoration:none;
    list-style: none;
    margin: 0;
    padding: 0;
    color:#000;
    outline: none;
}

*:focus, *:active {
    outline: 0!important;
    box-shadow: none!important;
    -webkit-box-shadow: none!important;
}

ul {
    margin: 0;
}

.fl {
  float: left;
}
.fr {
  float: right;
}

.fa {
    vertical-align: middle;
}
.clear {
    clear: both;
}

.clear{*zoom:1}
.clear:before,.clear:after{display:table;line-height:0;content:""}
.clear:after{clear:both}


.modal {
    /*display: none;*/
}

.modal.in {
    display: table!important;
    height: 100%;
    width: 100%;
}

.modal .modal-dialog {
    display: table-cell;
    vertical-align: middle;
}
.modal .modal-content {
    max-width: 500px;
    margin: 0 auto;
    border: none;
    border-radius: 0;
}

.modal .modal-header {
    height: 30px;
    line-height: 30px;
    padding: 0;
    background: #398dee;
    font-size: 12px;
    padding: 0 0 0 10px;
    border: none;
}
.modal .modal-header .modal-title{
    line-height: 30px;
    font-size: 12px;
}

.modal .modal-header * {
    color:#fff;
}

.modal .modal-header div {
    width: 100%
}

.modal .modal-header .btn-modal-close {
    display: block;
    height: 30px;
    width: 30px;
    text-align: center;
}

.modal .modal-header .btn-modal-close i {
    margin: -3px 0 0 0;
}


.modal .modal-header .btn-modal-close:hover i {
    color:#97c3ff;
}


.s-dropdown .dropdown-menu {
    background: #fff;
    border: 1px solid #b3d6ff;
    padding: 0;
    border-radius: 0;
}

.s-dropdown .dropdown-menu .dropdown-item {
    color: #000!important;
    height: 30px;
    line-height: 30px;
    padding: 0;
    text-indent: 20px;
    font-size: 12px;
}

.s-dropdown .dropdown-menu .dropdown-item:hover {
    background: #e9f3ff;
}

.s-dropdown .dropdown-divider {
    margin: 0;
    border-top: 1px solid #b3d6ff;
}


.s-dropdown .dropdown-toggle::after {
    display: none;
}

.s-dropdown .dropdown-toggle, .s-dropdown.show .dropdown-toggle {
    background: none;
    border: none;
    outline: none;
}
