/*-------------------------------------
zTree Style using fontawesome instead of images

version:    1.1
author:     Mike King
email:      mikkelking @ hotmail . com
website:    http://code.google.com/p/jquerytree/

-------------------------------------*/


/* Definitions ----------------------*/


/* End of Definitions ---------------*/


/* Imports  -------------------------*/


/* End of Imports  ------------------*/

.ztree * {
    padding: 0;
    margin: 0;
}

.ztree {
    margin: 0;
}

.ztree li {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: left;
    white-space: nowrap;
    outline: 0;
}

.ztree li ul {
    clear: both;
}

.ztree li a {
    margin: 0;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    display: block;
    width: 100%;
    clear: both;
    font-size: 11px;
    position: relative;
}

.ztree li a:hover {
    background: #e4edf9;
}

.ztree li a input.rename {
    height: 14px;
    width: 80px;
    padding: 0;
    margin: 0;
    color: #af0000;
    background-color: #ffffff;
    font-size: 12px;
    border: 1px #585956 solid;
    *border: 0px;
}

.ztree li a.curSelectedNode {
    /*padding-top: 0px;*/
    background-color: #398dee;
}

.ztree li a.curSelectedNode * {
    color: #fff;
}

.ztree li a.curSelectedNode span.button.root_open::before, 
.ztree li a.curSelectedNode span.button.root_close::before,
.ztree li a.curSelectedNode span.button.center_open::before, 
.ztree li a.curSelectedNode span.button.center_close::before,
.ztree li a.curSelectedNode span.button.bottom_open::before,
.ztree li a.curSelectedNode span.button.bottom_close::before
{
    color: #fff;
}

.ztree li a.curSelectedNode_Edit {
    padding-top: 0px;
    background-color: transparent;
    color: #ffff00;
    height: 17px;
    border: 1px #666 solid;
    opacity: 0.8;
}

/*拖拽到目录的样式*/
.ztree li a.tmpTargetNode_inner {
    /*padding-top: 0px;*/
    background-color: #398dee;
    color: #fff;
    height: 30px;
    /*border: 1px #666 solid;*/
    /*opacity: 0.8;*/
    /*filter: alpha(opacity=80);*/
}

.ztree li a.tmpTargetNode_inner * {
    /*padding-top: 0px;*/
    /*background-color: #398dee;*/
    color: #fff;
    /*height: 30px;*/
    /*border: 1px #666 solid;*/
    /*opacity: 0.8;*/
    /*filter: alpha(opacity=80);*/
}
.ztree li a.tmpTargetNode_inner .switch:before {
    /*padding-top: 0px;*/
    /*background-color: #398dee;*/
    color: #fff!important;
    /*height: 30px;*/
    /*border: 1px #666 solid;*/
    /*opacity: 0.8;*/
    /*filter: alpha(opacity=80);*/
}

.ztree li a.level0 {
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    padding: 0 0 0 9px;
}

.ztree li a.level0 * {
    line-height: 40px;
}
.ztree li a.level0 span {
    font-size: 12px;
}
.ztree li a.level0 span:before {
    font-size: 16px;
}

.ztree li a.level0 span.button.switch {
    width: 20px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.ztree li span {
    line-height: 30px;
    height: 30px;
}

.ztree li span.button {
    display: block;
    float: left;
    cursor: pointer;
    outline: none;
}

.ztree li span.button::before {
    color: #909090;
    font-family: FontAwesome;
    font-size:16px;
}

.ztree li span.button.chk {
    margin: 0px;
    cursor: auto;
    width: 12px;
    display: inline-block;
    padding-top: 10px;
    padding-left: 2px;
}

.ztree li span.button.chk.checkbox_false_full::before {
    content: "\f096";
}

.ztree li span.button.chk.checkbox_false_full_focus::before {
    content: "\f096";
    color: #ffff00;
}

.ztree li span.button.chk.checkbox_false_part::before {
    content: "\f096";
    color: #aaaaaa;
}

.ztree li span.button.chk.checkbox_false_part_focus::before {
    content: "\f096";
    color: #cad96c;
}

.ztree li span.button.chk.checkbox_false_disable::before {
    content: "\f096";
    color: #808080;
}

.ztree li span.button.chk.checkbox_true_full::before {
    content: "\f046";
}

.ztree li span.button.chk.checkbox_true_full_focus::before {
    content: "\f046";
}

.ztree li span.button.chk.checkbox_true_part::before {
    content: "\f14a";
}

.ztree li span.button.chk.checkbox_true_part_focus::before {
    content: "\f14a";
    color: #ffff00;
}

.ztree li span.button.chk.checkbox_true_full_focus::before {
    content: "\f046";
    color: #ffff00;
}

.ztree li span.button.chk.checkbox_true_part::before {
    content: "\f046";
    color: #aaaaaa;
}

.ztree li span.button.chk.checkbox_true_part_focus::before {
    content: "\f046";
    color: #cad96c;
}

.ztree li span.button.chk.checkbox_true_disable::before {
    content: "\f046";
    color: #808080;
}

.ztree li span.button.chk.radio_false_full::before {
    content: "\f10c";
}

.ztree li span.button.chk.radio_false_full_focus::before {
    content: "\f10c";
    color: #ffff00;
}

.ztree li span.button.chk.radio_false_part::before {
    content: "\f10c";
    color: #aaaaaa;
}

.ztree li span.button.chk.radio_false_part_focus::before {
    content: "\f10c";
    color: #ffff00;
}

.ztree li span.button.chk.radio_false_disable::before {
    content: "\f1db";
    color: #808080;
}

.ztree li span.button.chk.radio_true_full::before {
    content: "\f192";
}

.ztree li span.button.chk.radio_true_full_focus::before {
    content: "\f192";
    color: #ffff00;
}

.ztree li span.button.chk.radio_true_part::before {
    content: "\f192";
    color: #aaaaaa;
}

.ztree li span.button.chk.radio_true_part_focus::before {
    content: "\f192";
    color: #aaaaaa;
}

.ztree li span.button.chk.radio_true_disable::before {
    content: "\f1db";
    color: #808080;
}

.ztree li span.button.switch {
    width: 20px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.ztree li span.button.root_open::before {
    content: "\f0d7";
    display: inline-block;
    color: #909090;
}

.ztree li span.button.root_close::before {
    content: "\f0da";
    display: inline-block;
    color:#909090;
}

.ztree li span.button.roots_open::before {
    content: "\f078";
    display: inline-block;
}

.ztree li span.button.roots_close::before {
    content: "\f054";
    padding-top: 10px;
    padding-left: 2px;
    display: inline-block;
}

.ztree li span.button.center_open::before {
    content: "\f0d7";
    display: inline-block;
    color: #909090;
}

.ztree li span.button.center_close::before {
    content: "\f0da";
    display: inline-block;
    color: #909090;
}

.ztree li span.button.bottom_open::before {
    content: "\f0d7";
    display: inline-block;
}

.ztree li span.button.bottom_close::before {
    content: "\f0da";
    display: inline-block;
}

.ztree li span.button.root_docu {
    background: none;
}

.ztree li span.button.roots_docu::before {
    content: "\f022";
    padding-left: 2px;
    display: inline-block;
    color: #ffffff;
}

.ztree li span.button.center_docu::before {
    padding-top: 10px;
    padding-left: 2px;
    display: inline-block;
    color: #ffffff;
}

.ztree li span.button.bottom_docu::before {
    padding-top: 10px;
    padding-left: 2px;
    display: inline-block;
    color: #ffffff;
}

.ztree li span.button.noline_docu {
    background: none;
}

.ztree li span.button.ico_open::before {
    content: "\f07c";
    font-family: FontAwesome;
    display: inline-block;
    color: #f6ce62;
    margin: 0 12px 0 0;
    width: 17px;
}

.ztree li span.button.ico_close::before {
    content: "\f07b";
    font-family: FontAwesome;
    display: inline-block;
    color: #f6ce62;
    margin: 0px 12px 0 0;
    width: 17px;
}

.ztree li span.button.ico_docu::before {
    content: "\f07b";
    font-family: FontAwesome;
    display: inline-block;
    margin: 0px 10px 0 0;
    color: #f6ce62;
}

.ztree li span.button.edit {
    margin-left: 4px;
    margin-right: -1px;
    vertical-align: top;
    *vertical-align: middle;
    padding-top: 10px;
}

.ztree li span.button.edit::before {
    content: "\f044";
    font-family: FontAwesome;
}

.ztree li span.button.remove {
    margin-left: 4px;
    margin-right: -1px;
    vertical-align: top;
    *vertical-align: middle;
    padding-top: 10px;
}

.ztree li span.button.remove::before {
    content: "\f1f8";
    font-family: FontAwesome;
}

.ztree li span.button.add {
    margin-left: 4px;
    margin-right: -1px;
    vertical-align: top;
    *vertical-align: middle;
    padding-top: 10px;
}

.ztree li span.button.add::before {
    content: "\f067";
    font-family: FontAwesome;
}

.ztree li span.button.ico_loading {
    margin-right: 2px;
    background: url(./img/loading.gif) no-repeat scroll 0 0 transparent;
    vertical-align: top;
    *vertical-align: middle;
}

ul.tmpTargetzTree {
    background-color: #FFE6B0;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

span.tmpzTreeMove_arrow {
    width: 16px;
    height: 17px;
    display: inline-block;
    padding: 0;
    margin: 2px 0 0 1px;
    border: 0 none;
    position: absolute;
    background-color: transparent;
    background-attachment: scroll;
}

/*拖拽到文件夹前面的尖角*/
span.tmpzTreeMove_arrow::before {
    /*content: "\f04b";*/
    /*font-family: FontAwesome;*/
    /*color: #ffff00;*/
    /*color: red;*/
}

ul.ztree.zTreeDragUL {
    margin: 0;
    padding: 0;
    position: absolute;
    width: auto;
    height: auto;
    overflow: hidden;
    background-color: #cfcfcf;
    border: 1px #ffff00 dotted;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.ztreeMask {
    z-index: 10000;
    background-color: #cfcfcf;
    opacity: 0.0;
    filter: alpha(opacity=0);
    position: absolute;
}

.ztree li a.tmpTargetNode_prev:before,
.ztree li a.tmpTargetNode_next:after
 {
    position: absolute;
    display:block;
    background: #398dee;
    height: 1px;
    /*line-height:0;*/
    content:"";
    left: 0;
    width: 100%;
    /*border-top: 1px solid #398dee;*/
    /*height: 29px;*/
}
.ztree li a.tmpTargetNode_prev:before {
    top: 0;
}
.ztree li a.tmpTargetNode_next:after {
    bottom: 0;
}

.ztree li a.level0.tmpTargetNode_prev:before,
.ztree li a.level0.tmpTargetNode_next:after {
    display: none;
}